body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    background-color: #7f1619;
    color: #fff;
    padding: 10px;
    text-align: center;
}
for
h1 {
    position: absolute;
    top: 10px; /* Distance from the top of the container */
    left: 20%; /* Center horizontally */
}
h2 {
    position: absolute;
    top: 70px; 
    left: 47%;
    transform: translateX(-50%);
}

.date {
    max-width: 700px;
    margin: auto;
    padding: 50px;
    background: #fff;
    color: #250102;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Absolute positioning */
.table-container {
    position: relative;
}
table {
    position: absolute;
    top: 50px; /* Distance from the top of the container */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to center */
}
/* Relative positioning */
table {
    position: relative;
    top: auto; /* Moves the table down */
    left: 850px; /* Moves the table right */
}
table { 
    width: 70%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}
.view {
    background-color: #5DF059;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.view:hover {
    background-color: #7BF78C;
}
.edit {
    background-color: #8FCFE2;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.edit:hover {
background-color: #45C9F0;
}
.delete {
    background-color: #EE2433;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.delete:hover{
    background-color: #FB0019;
}
.check_out{
    background-color: #B5B4D9;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.check_out:hover {
    background-color: #9896ea;
}
